/*-------------------------------------------- normal style start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
main{
    margin: 2% 6%;

}


/*--------------------------------------------- normal style ended */

 /* -----------------------------------------top banner section started */
 .half-width {
     width : 50%;
 }
 .top-banner{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #161616;
     border-radius: 25px;
     padding : 2% 6% 0%;
 }
 .half-width h1{
     color : white;
     font-size: 40px;
     font-weight: 700;
 }
 .half-width p{
     color: white;
     margin : 20px 0px 30px ;
     font-size: 16px;
 }
 .half-width > img{
    height: 100%;
    width: 100%;
 }
 .button-live{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF ;
    border: 2px solid #DD0000;
    padding: 16px 25px;

    background-color: #DD0000;
    border-radius: 5px;

    transition: all ease-in 300ms;
 }
 .button-live:hover {
    background-color: #FFFFFF;
    color: #DD0000;
}
/*------------------------------------------ top banner section ended */

/*-------------------------------------------- Blog section started */
 .menu-post{
    background-color: black;
    height: 18%;
}
/*--------------------------------------------- menu item started */
.menu-item{
    font-weight: 600;
    font-size: 16px;
    color: #161616 ;
    padding: 16px 25px;
    background-color: #FFFFFF;
    width: 90%;
    border-radius: 5px;
    margin: 4%;
    

}
menu-item:hover {
    background-color: #DD0000;
    
    
}
.menu-item:hover{
    background-color: #DD0000;
    color: #FFFFFF;
}
#active{
    background-color: #DD0000;
}

/* ----------------------------------------menu item ended */



.post-container {
    height: 100%;
    display: grid;
    grid-template-columns: 220px auto;
    gap: 10px;
    margin: 70px 0;
}
.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 3px;
}
.posts >div{
    margin: 2%;
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
}
.thumbnail img{
    
    height: 100%;
    width: 100%;
}
.post{
    display: flex;
    flex-direction: column;
  
}
.post section{
    margin: 4%;
}
.post-information{
    display: flex;

}
.post-information div{
    margin: 4%;
}
.post-title{
    font-weight: 600;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid #161616 ;
    border-radius: 5px;
    text-align: center;
}
.post-body{
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 20px;
}
#view-all{
 display: none;
}




/* -----------------------------------for extra upcomming html */
.match-post-container {
    display: grid;
    grid-template-columns: 220px auto;
    gap: 10px;
    margin: 70px 0;
}
.menu-match{
    
        background-color: black;
        height: 40%;

}
 .match-items{
     height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

   }
 
.match-item{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
}
.match-item-flag{
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    justify-content: center;
    align-items: center;
}

.match-item-flag img{
    width: 100%;
}
.match-item-flag h2{
    font-size: 20px;
    font-weight: 600;
}
/* -----------------------------------------for extra upcomming html ended */

/*-------------------------------------------- blog section ended */

/* ------------------------------------------footer section started */












.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}
.footer-heading h1{
    color :#FFFFFF;
    font-weight: 600;
    font-size: 40px;
}
article > .footer-menu-items{
    display: flex;
    
}
.footer-menu-item a{
    text-decoration: none;
    list-style: none;
    color :#FFFFFF;
    padding-right: 40px;
    margin-top: 4%;
}
.footer-menu-items >li{
    list-style: none;
}
hr{
    width: 80%;
}
.footer-menu-icon i{
    color: #FFFFFF;
    font-size: 20px;
    
    margin-right: 30px;
    margin-bottom: 6%;
}
/*---------------------- footer section ended */



/* -=================================================media query for tablet started */



@media (min-width : 576px) and (max-width : 992px){
    .half-width p{
        color: white;
        margin : 20px 0px 30px ;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    }
   /*============================ post blog item */
    .post-container{
        display: grid;
        grid-template-columns: 1fr;
    }
  
  
    .posts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .post:nth-last-child(6){
        display: none;
    }
    .menu-post{
        display: flex;
        background-color: #FFFFFF;
        justify-content: space-evenly;
  
  
    }
    .menu-item {
      font-weight: 600;
      width: 200px;
      height: 53px;
      font-size: 1rem;
      text-align: center;

     
    }
   
  /*==================================== upcomming html */
    .match-post-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .menu-match{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .match-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
   
    #view-all{
        display: flex;
        align-items: center;
        margin: 50px 50%;
        width: 200px;
        justify-content: space-evenly;

        background-color: #DD0000;
        color: #FFFFFF;
    }
    #view-all{
        text-decoration: none;
        list-style: none;
    }
  article > .footer-menu-items{
      display: flex;
      flex-wrap: wrap;
      
      
  }
  .footer-menu-item> a{
    text-decoration: none;
    list-style: none;
    color :#FFFFFF;
    padding-right: 40px;
    margin-top: 4%;
}
.footer-menu-icon i{
    color: #FFFFFF;
    font-size: 20px;
    
    margin-right: 30px;
    margin-bottom: 6%;
}
  
  }
  /*============================ use for mobile */
@media (max-width : 557px){
   .top-banner{
   display: flex;
   flex-direction: column;
}
.half-width p{
    color: white;
    margin : 20px 0px 30px ;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
 }
 .post-container{
    display: grid;
    grid-template-columns: 1fr;
}
.posts{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
 .menu-post{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: space-between;


}
.menu-item {
    font-weight: 600;
    width: 200px;
    height: 53px;
    font-size: 1rem;
    text-align: center;

   
  }
article > .footer-menu-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
}
.footer-menu-icon i{
    color: #FFFFFF;
    font-size: 20px;
    
    margin-right: 30px;
    margin-bottom: 6%;
}
}