/*-------------------------------------------- normal style start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
main{
    margin: 2% 6%;

}


/*--------------------------------------------- normal style ended */

 /* -----------------------------------------top banner section started */
 .half-width {
     width : 50%;
 }
 .top-banner{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #161616;
     border-radius: 25px;
     padding : 2% 6% 0%;
 }
 .half-width h1{
     color : white;
     font-size: 60px;
     font-weight: 700;
 }
 .half-width p{
     color: white;
     margin : 20px 0px 30px ;
     font-size: 16px;
 }
 .half-width > img{
    height: 100%;
    width: 100%;
 }
 .button-live{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF ;
    border: 2px solid #DD0000;
    padding: 16px 25px;

    background-color: #DD0000;
    border-radius: 5px;

    transition: all ease-in 300ms;
 }
 .button-live:hover {
    background-color: #FFFFFF;
    color: #DD0000;
}
/*------------------------------------------ top banner section ended */

/*-------------------------------------------- Blog section started */
.post-container aside{
    background-color: black;
    margin-bottom: 1000px;
}
/*--------------------------------------------- menu item started */
.menu-item{
    font-weight: 600;
    font-size: 16px;
    color: #161616 ;
    padding: 16px 25px;
    background-color: #FFFFFF;
    width: 90%;
    border-radius: 5px;
    margin: 4%;


}
menu-item:hover {
    background-color: #DD0000;
    
    
}
.menu-item:hover{
    background-color: #DD0000;
    color: #FFFFFF;
}
#active{
    background-color: #DD0000;
}

/* ----------------------------------------menu item ended */



.post-container {
    display: grid;
    grid-template-columns: 220px auto;
    gap: 10px;
    margin: 70px 0;
}
.posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 3px;
}
.posts >div{
    margin: 2%;
    box-shadow: 0px 0px 1px black;
    border-radius: 10px;
}
.thumbnail img{
    
    height: 100%;
    width: 100%;
}
.post{
    display: flex;
    flex-direction: column;
  
}
.post section{
    margin: 4%;
}
.post-information{
    display: flex;

}
.post-information div{
    margin: 4%;
}
.post-title{
    font-weight: 600;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid #161616 ;
    border-radius: 5px;
    text-align: center;
}
.post-body{
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0 20px;
}
/*-------------------------------------------- blog section ended */

/* ------------------------------------------footer section started */


.footer-section{
    display: flex;
    flex-direction: column;
    height : 50vh;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}
.footer-heading h1{
   color :#FFFFFF;
   font-weight: 600;
   font-size: 40px;
}
article > .footer-menu-items{
    display: flex;
    
}
.footer-menu-item a{
    text-decoration: none;
    list-style: none;
    color :#FFFFFF;
    padding-right: 40px;
    margin-top: 4%;
}
hr{
    width: 80%;
}
.footer-menu-icon i{
    color: #FFFFFF;
    font-size: 20px;
    
    margin-right: 30px;
}
/*---------------------- footer section ended */
